@using TOEICEssentialWords.Web.ViewModels
@model WordViewModel

@{
    ViewBag.Title = Model.Name;
}
@Html.Hidden("AddToWordListUrl", Url.Action("AddToWordList", new { wordId = Model.Id }))
<div class="header-container">
    <div class="row content-header">
        <div class="col-lg-12">
            <span>&nbsp;</span>
            <h2>@Model.Name</h2>
            <span>&nbsp;</span>
            <span class="pos">@Model.WordType</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 pronounciation">
            @if (Model.HasPronound)
            {
                <div class="pro BrE">
                    <span class="prefix">BrE</span>
                    <span>@Model.BrEPronoun</span>
                    <audio id="BrESound">
                        <source src="@string.Format("{0}.mp3",Model.BrESoundUrl)" />
                        <source src="@string.Format("{0}.ogg",Model.BrESoundUrl)" />
                    </audio>
                    <button class="button-sound" onclick="document.getElementById('BrESound').play()"><i class="fa fa-volume-up"></i></button>
                </div>
                <span>;</span>
                <div class="pro NAmE">
                    <span class="prefix">NAmE</span>
                    <span>@Model.NAmEPronoun</span>
                    <audio id="NAmESound">
                        <source src="@string.Format("{0}.mp3",Model.NAmESoundUrl)" />
                        <source src="@string.Format("{0}.ogg",Model.NAmESoundUrl)" />
                    </audio>
                    <button class="button-sound" onclick="document.getElementById('NAmESound').play()"><i class="fa fa-volume-up"></i></button>
                </div>
            }
        </div>
        <div class="col-lg-6 wordlist">
            <button id="btnAddToWordList"><i class="fa fa-star"></i><span>&nbsp;</span> Add to wordlist</button>
        </div>
    </div>
</div>
<div class="row content-body">
    <div class="col-lg-12">
        <ul class="counter">
            @for (int i = 1; i <= Model.Definitions.Count(); i++)
            {
                <li>
                    <span class="def">@Model.Definitions[i - 1].Name</span>
                    <span class="example">@Model.Definitions[i - 1].Example</span>
                </li>
            }
        </ul>
    </div>
</div>