@using TOEICEssentialWords.Web.ViewModels
@model LessonViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="row content-header">
    <div class="col-lg-12">
        <span>&nbsp;</span>
        <h2>@Model.Name</h2>
        <span>&nbsp;</span>
        <span class="pos">Lesson</span>
    </div>
</div>
<div class="row content-body">
    <div class="col-md-9">
        <p class="intro">Study the following definitions and excamples.</p>
        <ul class="counter">
            @foreach (var word in Model.WordsToLearn)
            {
                <li>
                    <a href="@Url.Action("Index", "Word", new { slug = word.Slug })">@word.Name</a>
                    <span class="wordclass">(@word.WordClass)</span>
                    <span>@word.Definition</span>
                    @foreach (var ex in word.Examples)
                    {
                        <span class="example">@ex</span>
                    }
                </li>
            }
        </ul>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">WORDS TO LEARN</div>
            <div class="panel-body">
                <ul class="word-to-learn">
                    @foreach (var word in Model.WordsToLearn)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Word", new { slug = word.Slug })">@word.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 topic-explore">
        <p>Explore other lessons relate to @Model.Name</p>
        <h4 class="main-topic-title">@Model.TopicName</h4>
        <h5>Related lessons:</h5>
        <ul class="list-nested">
            @foreach (var lesson in Model.RelatedLessons)
            {
                <li><a href="@Url.Action("Index", "Lesson", new { slug = lesson.Slug })">@lesson.Name</a></li>
            }
        </ul>
    </div>
</div>