<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 600 Essential words for the TOEIC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav navbar-right top-nav">
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
                @Html.Action("TopicMenu", "Topic")
            </div>
        </nav>
    </header>
    <main>
        <div id="page_wrapper">
            <div class="container">
                <section id="section_searchword">
                    <div class="row">
                        <div class="col-lg-12">
                            <form>
                                <div class="input-group searchfield">
                                    <input type="text" class="form-control" placeholder="Search English" value="" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <section id="section_body">
                    @RenderBody()
                </section>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year - Nexcel Solutions</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>